extends layout

block content
  h1= title
  a(href="/") Back to message board
  form(method="POST" action="/new")
    label(for="user") User name:
    input(name="user", id="user", type="text")
    label(for="messageText")
    textarea(name="messageText", id="messageText", placeholder="Enter your message here", cols="30", rows="10")
    input(type="submit")