extends layout

block content
  header
    h1= title
    a(href="/", id="back") Back to message board
  .form
    h2 Enter a new message
    form(method="POST" action="/new")
      input(name="user", id="user", placeholder="Username", type="text" required)
      label(for="messageText")
      textarea(name="messageText", id="messageText", placeholder="Enter your message here", cols="30", rows="10" required) 
      input(type="submit", value="Post my message!")