body {
  margin: 0;
  padding: 0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: lightgray;
}

header {
  background: rgb(52,59,65);
  padding: 10px 20px;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header h1 {
  color: rgb(156,201,54);
}

header p {
  color: white;
}

.button {
  align-self: flex-end;
  margin-bottom: 15px;
}

button {
  background: #00B7FF;
  border: none;
  padding: 10px; 
  border-radius: 5px;
}

a {
  color: black;
  text-decoration: none;
}

a#back {
  color: #00B7FF;
}

.message-board-container {
  background: white;
  border-radius: 2px;
  margin: 10px;
  border: 1px solid rgb(52,59,65);
}

.message-user {
  color: black;
  /* border-bottom: 1px solid rgb(52,59,65); */
  padding: 5px 10px;
  background-color: rgb(156,201,54);
  font-size: 0.8em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;
}

.message-body {
  color: #00B7FF;
  padding: 10px;
  font-size: 0.8em;
}

.message-user p {
  color: rgb(52,59,65);
}

.form {
  margin: 10px;
  width: 70%;
  background: white;
  border: 1px solid rgb(52,59,65);

}

.form h2 {
  color: black;
  background: rgb(156,201,54);
  padding: 10px;
  margin: 0;
  border-bottom: 1px solid rgb(52,59,65);
}

form {
  width: 90%;
  display: flex;
  flex-direction: column;
  margin: 10px;
  font-size: 1rem;
}

form input {
  margin: 10px 0;
  width: 100%;
  padding: 2px;
}

textarea {
  width: 100%;
  padding: 2px;
}

input[type="submit"] {
  background: #00B7FF;
  border: none;
  padding: 10px; 
  width: 30%;
  border-radius: 5px;
  align-self: center;
  font-size: 1rem;
  border: 1px solid rgb(52,59,65);
}